<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/recruitdriver/recruitDriver/save}">
        <input type="hidden" name="id" th:if="${recruitDriver}" th:value="${recruitDriver.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">司机姓名</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="drivername" placeholder="请输入司机姓名" th:value="${recruitDriver?.drivername}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="IdCard" placeholder="请输入身份证号" th:value="${recruitDriver?.IdCard}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证照片</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="IdCard_image" placeholder="请输入身份证照片" th:value="${recruitDriver?.IdCard_image}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">驾驶证编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="licence" placeholder="请输入驾驶证编号" th:value="${recruitDriver?.licence}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">驾驶证图片</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="licence_image" placeholder="请输入驾驶证图片" th:value="${recruitDriver?.licence_image}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="phone" placeholder="请输入联系电话" th:value="${recruitDriver?.phone}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="sex" placeholder="请输入性别" th:value="${recruitDriver?.sex}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">驾龄</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="drive_time" placeholder="请输入驾龄" th:value="${recruitDriver?.drive_time}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否从事过代驾行业</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="work" placeholder="请输入是否从事过代驾行业" th:value="${recruitDriver?.work}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工作时段</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="work_time" placeholder="请输入工作时段" th:value="${recruitDriver?.work_time}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">准驾类型</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="driver_type" placeholder="请输入准驾类型" th:value="${recruitDriver?.driver_type}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">申请状态</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="recruit_status" placeholder="请输入申请状态" th:value="${recruitDriver?.recruit_status}">
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>