<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>
<div class="box">
    <h2>Register</h2>
    <form>
        <div class="inputBox">
            <input class="input1" type="text" name="" required="">
            <label class="lab1">Account</label>
        </div>
        <div class="inputBox">
            <input class="input1" type="password" name="" required="">
            <label class="lab1">password</label>
        </div>
        <!--<button class="btn1">登录</button>-->
        <input class="btn1" type="submit" value="注册">
    </form>
</div>

<div class="middle">
    <a class="btn" href="#">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a class="btn" href="#">
        <i class="fab fa-twitter"></i>
    </a>
    <a class="btn" href="#">
        <i class="fab fa-google"></i>
    </a>
    <a class="btn" href="#">
        <i class="fab fa-instagram"></i>
    </a>
    <a class="btn" href="#">
        <i class="fab fa-youtube"></i>
    </a>
</div>


</body>
</html>