<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>序号</th>
                    <td th:text="${driverInformation.id}"></td>
                    <th>用户名</th>
                    <td th:text="${driverInformation.username}"></td>
                </tr>
                <tr>
                    <th>真实姓名</th>
                    <td th:text="${driverInformation. name}"></td>
                    <th>身份证号</th>
                    <td th:text="${driverInformation.IdCard}"></td>
                </tr>
                <tr>
                    <th>身份证照片</th>
                    <td th:text="${driverInformation.IdCard_image}"></td>
                    <th>车品牌</th>
                    <td th:text="${driverInformation.car_brand}"></td>
                </tr>
                <tr>
                    <th>车颜色</th>
                    <td th:text="${driverInformation.car_color}"></td>
                    <th>司机星级</th>
                    <td th:text="${driverInformation.driver_star}"></td>
                </tr>
                <tr>
                    <th>订单次数</th>
                    <td th:text="${driverInformation.order_nun}"></td>
                    <th>司机驾龄</th>
                    <td th:text="${driverInformation.driver_time}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${driverInformation.create_time}"></td>
                    <th>最后修改时间</th>
                    <td th:text="${driverInformation.update_time}"></td>
                </tr>
                <tr>
                    <th>简介</th>
                    <td th:text="${driverInformation.remarks}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>